@font-face {
    font-family: "Handwriting";
    src: url("GoodDays.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

/* ========== MEDIA DEFAULTS ========== */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* ========== FORM ELEMENTS ========== */
input,
button,
textarea,
select {
    font: inherit;
}

/* ========== ROOT VARIABLES ========== */
:root {
    --color-bg: #ffffff;
    --color-text: #111111;
    --color-primary: #4f46e5;

    --font-base: system-ui, sans-serif;

    --spacing: 1rem;
}

/* ========== BASE STYLES ========== */
body {
    font-family: var(--font-base);
    color: var(--color-text);
}

.spacer {
    width: 100%;
    height: 5vh;
}

.container {
    width: 40vw;
    background-color: #F3E8D7;
    padding: 2rem;
    background-image:
            linear-gradient(to bottom,
                rgba(0, 0, 0, 0.02),
                rgba(82, 20, 20, 0.274));
}

p{
margin: 1rem 0;
font-family: "Handwriting", sans-serif;
font-size: 1.1rem;
color: #3A2F28;
}